In [1]:
import pandas as pd
import arcgis_scrape # local library

In [2]:
# Source: https://cor.maps.arcgis.com/apps/webappviewer/index.html?id=5dea94b6112a45eeadf5d25bba47d28a
# View layers, Show Item Details for primary layer, click layer, copy url
# 
base_url = 'https://services1.arcgis.com/k3vhq11XkBNeeOfM/arcgis/rest/services/AssessorProValGPINRecTransPublish/FeatureServer/0'

In [3]:
df = arcgis_scrape.to_df(base_url, {'orderByFields':'parcel_id ASC'})

Rowcount: 17601, pages: 18
Request 0: 0
Request 1: 1000
Request 2: 2000
Request 3: 3000
Request 4: 4000
Request 5: 5000
Request 6: 6000
Request 7: 7000
Request 8: 8000
Request 9: 9000
Request 10: 10000
Request 11: 11000
Request 12: 12000
Request 13: 13000
Request 14: 14000
Request 15: 15000
Request 16: 16000
Request 17: 17000
Final shape: (17601, 36)

In [15]:
# save to file
df.to_csv('data/transfers_2019-2022.csv',index=False)

In [6]:
df.sort_values('sale_date').head(2)

,OBJECTID2,OBJECTID1,OBJECTID,GPIN,ParcelID,join_OBJECTID,lrsn,parcel_id,gisParcelID,Land,...,join_tot,asmt_year,sale_date,sale_price,val_code_1,val_code_2,ratio,DocNum,x,y
5959,10130,68615,67017,657397,97988,69943,76499,E0001763076,97988,14000,...,68000,20220101,1556251200000,116000,1 - VALID SALE,Sale Includes Multiple Parcels,0.586,BS,1.180329e+07,3.719001e+06
6725,9878,20254,2419,44446,6124,26076,26879,N0000088022,6124,8000.0,...,8000.0,20220101.0,1556251200000,6488,2 - INVALID SALE,"Foreclosure, Forced Sale, etc.",1.233,SC,1.179227e+07,3.725682e+06

In [12]:
df['sale_date'] = pd.to_datetime(df['sale_date'],unit='ms')

0       2020-06-23 04:00:00
1       2021-02-22 05:00:00
2       2021-11-04 04:00:00
3       2020-06-23 04:00:00
4       2020-06-23 04:00:00
                ...
17596   2019-07-25 04:00:00
17597   2019-11-18 05:00:00
17598   2021-08-12 04:00:00
17599   2021-08-12 04:00:00
17600   2021-12-07 05:00:00
Name: sale_date, Length: 17601, dtype: datetime64[ns]

In [ ]:
df['sale_date']/1000